.bundle
db/*.sqlite3
db/*.sqlite3-journal
db/data.yml
db/development.sqlite3.dev
log/*.log
tmp/
.sass-cache/
.rvmrc*
**.swp
webrat.log
capybara*.log
db/legacy_mortgage_payments.csv
*un~
doc/*.pdf
uploads/
