%h1 Listing returns

%table
  %tr
    %th
    %th
    %th

  - @returns.each do |return_obj|
    %tr
      %td= link_to 'Show', return_obj
      %td= link_to 'Edit', edit_return_path(return_obj)
      %td= link_to 'Destroy', return_obj, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Return', new_return_path
