%h1 Listing returns

%table
  %tr
    %th
    %th
    %th

  - @returns.each do |return|
    %tr
      %td= link_to 'Show', return
      %td= link_to 'Edit', edit_return_path(return)
      %td= link_to 'Destroy', return, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Return', new_return_path
