Welcome:
= session[:user_name]
%ul
  %li
    %a{:href => "/expenses"} 
      View expenses
  %li
    %a{:href => "/expenses/new"} 
      Add expense
  %li
    %a{:href => "/expenses/process_data"} 
      Process expenses
  %li
    %a{:href => "/expenses/import"} 
      Import expenses into staging
  %li
    %a{:href => "/expenses/process_imports"} 
      Add imported records
  %li
    %a{:href => "/users/#{session[:user_id]}/edit"} 
      Edit user
  %li
    %a{:href => "/user_payments/new"} 
      Pay somebody
  %li
    %a{:href => "/user_payments"} 
      Show payments
  %li
    %a{:href => "/stores/parents"} 
      Manage store parents
  %li
    %a{:href => "/import_histories"} 
      Import histories
=render :partial => "balances"
