Welcome:
= session[:user_name]
%ul
  %li
    %a{:href => "/expenses/new"} 
      Add expense
  %li
    %a{:href => "/expenses/import"} 
      Import expenses
  %li
    %a{:href => "/expenses/process_imports"} 
      Process imported records
  %li
    %a{:href => "/users/#{session[:user_id]}/edit"} 
      Edit user
  %li
    %a{:href => "/expenses"} 
      View expenses
=render :partial => "balances"
