- headers=[:id, :imported_on, :import_type, :imported_fields]
%h1
  Process imported records
%table{:border => 1}
  %tr
    - headers.each do |h|
      %th
        =h
  - @records.each do |r|
    %tr
      %td
        =r.id
      %td
        =r.created_at
      %td
        =r.import_config.title
      %td
        %a{:href => "/expenses/process_import/#{r.id}"}
          = r.mapped_fields
